html, body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

svg circle {
  fill: none;
  stroke-width: 25;
  stroke-linecap: round;
  stroke: #400094;
  stroke-dashoffset: var(--offset);
}
