html, body{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
svg{
    circle{
        fill: none;
        stroke-width: 25;
        stroke-linecap: round;
        stroke: rgb(64, 0, 148);
        stroke-dashoffset: var(--offset);
    }
}