.page.auth {
  height: calc(100vh - 56px);
}

.page.auth .push {
  height: 100%;
  background-image: url("../images/loginBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page.auth .auth-title {
  font-size: 2.5rem;
  font-weight: bold;
  width: 90%;
  text-align: center;
}

.page.auth .main {
  background-color: white;
  width: auto;
  padding: 6rem 2rem 2rem 2rem;
  -webkit-box-shadow: 0 0 20px 1px black;
          box-shadow: 0 0 20px 1px black;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  border-radius: 1rem;
}

.page.auth .main .auth-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.page.auth .main .iconUsers {
  font-size: 4rem;
  background: var(--navigation, #20232a);
  border-radius: 50%;
  padding: 1rem 1.5rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  position: absolute;
}

.page.auth .main .form-group {
  font-size: 2rem;
  margin: 1rem;
}

.page.auth .main .form-group i {
  padding-right: 1rem;
}

.page.auth .password {
  -webkit-box-shadow: 0 0 0 0.25rem none;
          box-shadow: 0 0 0 0.25rem none;
  border: 1px solid #ced4da;
}

.page.auth .password:focus {
  -webkit-box-shadow: 0 0 0 0.25rem var(--passwordStrength, rgba(13, 109, 253, 0.251)) !important;
          box-shadow: 0 0 0 0.25rem var(--passwordStrength, rgba(13, 109, 253, 0.251)) !important;
  border-color: var(--passwordColor, #86b6fe) !important;
}
