.page.auth {
  height: calc(100vh - 56px);
}

.page.auth .push {
  height: 100%;
  background-image: url("../images/loginBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page.auth .auth-title {
  font-size: 2.5rem;
  font-weight: bold;
  width: 90%;
  text-align: center;
}

.page.auth .main {
  background-color: white;
  width: auto;
  padding: 6rem 2rem 2rem 2rem;
  -webkit-box-shadow: 0 0 20px 1px black;
          box-shadow: 0 0 20px 1px black;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  border-radius: 1rem;
}

.page.auth .main .auth-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.page.auth .main .iconUsers {
  font-size: 4rem;
  background: var(--navigation, #20232a);
  border-radius: 50%;
  padding: 1rem 1.5rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  position: absolute;
}

.page.auth .main .form-group {
  font-size: 2rem;
  margin: 1rem;
}

.page.auth .main .form-group i {
  padding-right: 1rem;
}

.page.auth .password {
  -webkit-box-shadow: 0 0 0 0.25rem none;
          box-shadow: 0 0 0 0.25rem none;
  border: 1px solid #ced4da;
}

.page.auth .password:focus {
  -webkit-box-shadow: 0 0 0 0.25rem var(--passwordStrength, rgba(13, 109, 253, 0.251)) !important;
          box-shadow: 0 0 0 0.25rem var(--passwordStrength, rgba(13, 109, 253, 0.251)) !important;
  border-color: var(--passwordColor, #86b6fe) !important;
}

.page.auth .container {
  width: clamp(25vw, 30vw, 40vw);
  height: clamp(25vw, 30vw, 40vw);
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 20px 20px 40px #4d5bf940;
          box-shadow: 20px 20px 40px #4d5bf940;
  position: relative;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page.auth .container .circular-progress {
  position: relative;
  height: 75%;
  width: 75%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page.auth .container .circular-progress::before {
  content: "";
  position: absolute;
  height: 95%;
  width: 95%;
  background: white;
  border-radius: 50%;
}

.page.auth .container .circular-progress .value-container {
  color: #231c3d;
  font-weight: bold;
  font-size: 5vw;
  font-family: "Cairo";
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.update .push {
  position: relative;
  gap: 1rem;
}

.update .push .alert {
  position: absolute;
  bottom: 1%;
  right: 1%;
  margin: 0;
}

.update .push .container {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 2rem;
  height: 60%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #66a3ff;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.update .push .container.update {
  background: #66a3ff;
  -webkit-filter: hue-rotate(35deg);
          filter: hue-rotate(35deg);
}

.update .push .container .circular-progress {
  height: 15vh;
  width: 15vh;
}

.update .push .container .result {
  font-weight: bold;
  font-family: "Cairo";
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0;
}

.update .push .container .value-container {
  font-size: 4.5vh !important;
}

.update .push .container .form-control::-webkit-input-placeholder {
  font-size: smaller;
}

.update .push .container .form-control:-ms-input-placeholder {
  font-size: smaller;
}

.update .push .container .form-control::-ms-input-placeholder {
  font-size: smaller;
}

.update .push .container .form-control::placeholder {
  font-size: smaller;
}

.update .push .container .update-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
}

.update .push .container button {
  position: absolute;
  bottom: 5%;
  left: 0;
}

@media screen and (max-width: 768px) {
  .page.auth .main {
    width: 80vw;
    padding: 6rem 1rem 2rem 1rem;
  }
  .page.auth .main #email, .page.auth .main #password, .page.auth .main #name, .page.auth .main #password-confirm {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}

@media screen and (max-width: 400px) {
  .page.auth .main #email, .page.auth .main #password, .page.auth .main #name, .page.auth .main #password-confirm {
    margin: .5rem;
  }
  .page.auth .main form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page.auth .main button {
    width: auto !important;
    margin: auto !important;
  }
}
