.footer {
  width: 100%;
  background: #20232a;
  color: white;
  width: 70%;
  padding-bottom: 1rem;
}

.footer h1 {
  color: #999;
  font-size: 1.2rem;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.footer .mainFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 20rem;
}

.footer .mainFooter i {
  margin-right: 1rem;
}

.footer .mainFooter a {
  text-transform: capitalize;
  color: white;
  text-decoration: none;
}

.footer .mainFooter a[href="/animation"] i {
  margin-right: 12px !important;
}

.footer .mainFooter a.active {
  color: var(--btn-primary-hover, #008cff);
}

.footer .minNav {
  height: 10rem;
  background-color: #282c34;
  margin-bottom: 1rem;
  padding: 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .minNav p {
  color: var(--btn-primary-hover, #008cff);
}

.footer .minNav .prev,
.footer .minNav .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .minNav .prev a,
.footer .minNav .next a {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  border-bottom: 1px solid #6d6d6d;
  -webkit-transition: border-bottom-color 0.3s ease-in-out;
  transition: border-bottom-color 0.3s ease-in-out;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.footer .minNav .prev a:hover,
.footer .minNav .next a:hover {
  border-bottom: 1px solid white;
}

.footer .minNav .next {
  text-align: right;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.author {
  color: #999;
  font-size: .7rem;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
