@font-face {
  font-family: Cairo;
  src: url("../font/Cairo-Regular.ttf");
}

@font-face {
  font-family: Cairo;
  src: url("../font/Cairo-Regular.ttf");
}

.svg-animation {
  width: 100%;
  height: 15rem;
  background: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
