@-webkit-keyframes homePage {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes homePage {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes hoverMe-1 {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@keyframes hoverMe-1 {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@-webkit-keyframes hoverMe-2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes hoverMe-2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes example-flow-animation {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 25%;
    background: var(--css-track-div, #009fff);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 50%;
    background: var(--navigation, #20232a);
    -webkit-box-shadow: 0 0 2px 1px var(--navigation, #20232a);
            box-shadow: 0 0 2px 1px var(--navigation, #20232a);
  }
}

@keyframes example-flow-animation {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 25%;
    background: var(--css-track-div, #009fff);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 50%;
    background: var(--navigation, #20232a);
    -webkit-box-shadow: 0 0 2px 1px var(--navigation, #20232a);
            box-shadow: 0 0 2px 1px var(--navigation, #20232a);
  }
}

@-webkit-keyframes example-static-animation {
  to {
    cursor: copy;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}

@keyframes example-static-animation {
  to {
    cursor: copy;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@-webkit-keyframes transformOrigin {
  from,
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes transformOrigin {
  from,
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes move {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes move {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes move2 {
  from {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  to {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes move2 {
  from {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  to {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes color {
  50% {
    background: coral;
    -webkit-box-shadow: 0 0 2px 1px coral;
            box-shadow: 0 0 2px 1px coral;
  }
}

@keyframes color {
  50% {
    background: coral;
    -webkit-box-shadow: 0 0 2px 1px coral;
            box-shadow: 0 0 2px 1px coral;
  }
}

@-webkit-keyframes color2 {
  from {
    background: #ff8052;
    -webkit-box-shadow: 0 0 2px 1px #ff8052;
            box-shadow: 0 0 2px 1px #ff8052;
  }
  25% {
    background: #52a8ff;
    -webkit-box-shadow: 0 0 2px 1px #52a8ff;
            box-shadow: 0 0 2px 1px #52a8ff;
  }
  50% {
    background: #e252ff;
    -webkit-box-shadow: 0 0 2px 1px #e252ff;
            box-shadow: 0 0 2px 1px #e252ff;
  }
  to {
    background: #52ffe2;
    -webkit-box-shadow: 0 0 2px 1px #52ffe2;
            box-shadow: 0 0 2px 1px #52ffe2;
  }
}

@keyframes color2 {
  from {
    background: #ff8052;
    -webkit-box-shadow: 0 0 2px 1px #ff8052;
            box-shadow: 0 0 2px 1px #ff8052;
  }
  25% {
    background: #52a8ff;
    -webkit-box-shadow: 0 0 2px 1px #52a8ff;
            box-shadow: 0 0 2px 1px #52a8ff;
  }
  50% {
    background: #e252ff;
    -webkit-box-shadow: 0 0 2px 1px #e252ff;
            box-shadow: 0 0 2px 1px #e252ff;
  }
  to {
    background: #52ffe2;
    -webkit-box-shadow: 0 0 2px 1px #52ffe2;
            box-shadow: 0 0 2px 1px #52ffe2;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  to {
    -webkit-transform: perspective(800px) rotateY(360deg);
            transform: perspective(800px) rotateY(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  to {
    -webkit-transform: perspective(800px) rotateY(360deg);
            transform: perspective(800px) rotateY(360deg);
  }
}

@-webkit-keyframes boubleUp {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes boubleUp {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
