@-webkit-keyframes homePage {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes homePage {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes hoverMe-1 {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@keyframes hoverMe-1 {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@-webkit-keyframes hoverMe-2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes hoverMe-2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes example-flow-animation {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 25%;
    background: var(--css-track-div, #009fff);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 50%;
    background: var(--navigation, #20232a);
    -webkit-box-shadow: 0 0 2px 1px var(--navigation, #20232a);
            box-shadow: 0 0 2px 1px var(--navigation, #20232a);
  }
}

@keyframes example-flow-animation {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 25%;
    background: var(--css-track-div, #009fff);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 50%;
    background: var(--navigation, #20232a);
    -webkit-box-shadow: 0 0 2px 1px var(--navigation, #20232a);
            box-shadow: 0 0 2px 1px var(--navigation, #20232a);
  }
}

@-webkit-keyframes example-static-animation {
  to {
    cursor: copy;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}

@keyframes example-static-animation {
  to {
    cursor: copy;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@-webkit-keyframes transformOrigin {
  from,
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes transformOrigin {
  from,
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes move {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes move {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes move2 {
  from {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  to {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes move2 {
  from {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  to {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes color {
  50% {
    background: coral;
    -webkit-box-shadow: 0 0 2px 1px coral;
            box-shadow: 0 0 2px 1px coral;
  }
}

@keyframes color {
  50% {
    background: coral;
    -webkit-box-shadow: 0 0 2px 1px coral;
            box-shadow: 0 0 2px 1px coral;
  }
}

@-webkit-keyframes color2 {
  from {
    background: #ff8052;
    -webkit-box-shadow: 0 0 2px 1px #ff8052;
            box-shadow: 0 0 2px 1px #ff8052;
  }
  25% {
    background: #52a8ff;
    -webkit-box-shadow: 0 0 2px 1px #52a8ff;
            box-shadow: 0 0 2px 1px #52a8ff;
  }
  50% {
    background: #e252ff;
    -webkit-box-shadow: 0 0 2px 1px #e252ff;
            box-shadow: 0 0 2px 1px #e252ff;
  }
  to {
    background: #52ff7d;
    -webkit-box-shadow: 0 0 2px 1px #52ff7d;
            box-shadow: 0 0 2px 1px #52ff7d;
  }
}

@keyframes color2 {
  from {
    background: #ff8052;
    -webkit-box-shadow: 0 0 2px 1px #ff8052;
            box-shadow: 0 0 2px 1px #ff8052;
  }
  25% {
    background: #52a8ff;
    -webkit-box-shadow: 0 0 2px 1px #52a8ff;
            box-shadow: 0 0 2px 1px #52a8ff;
  }
  50% {
    background: #e252ff;
    -webkit-box-shadow: 0 0 2px 1px #e252ff;
            box-shadow: 0 0 2px 1px #e252ff;
  }
  to {
    background: #52ff7d;
    -webkit-box-shadow: 0 0 2px 1px #52ff7d;
            box-shadow: 0 0 2px 1px #52ff7d;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  to {
    -webkit-transform: perspective(800px) rotateY(360deg);
            transform: perspective(800px) rotateY(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  to {
    -webkit-transform: perspective(800px) rotateY(360deg);
            transform: perspective(800px) rotateY(360deg);
  }
}

@-webkit-keyframes program {
  to {
    -webkit-transform: var(--transform, none);
            transform: var(--transform, none);
  }
}

@keyframes program {
  to {
    -webkit-transform: var(--transform, none);
            transform: var(--transform, none);
  }
}
