@-webkit-keyframes homePage {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes homePage {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes hoverMe-1 {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@keyframes hoverMe-1 {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@-webkit-keyframes hoverMe-2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes hoverMe-2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes example-flow-animation {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 25%;
    background: var(--css-track-div, #009fff);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 50%;
    background: var(--navigation, #20232a);
    -webkit-box-shadow: 0 0 2px 1px var(--navigation, #20232a);
            box-shadow: 0 0 2px 1px var(--navigation, #20232a);
  }
}

@keyframes example-flow-animation {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 25%;
    background: var(--css-track-div, #009fff);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 50%;
    background: var(--navigation, #20232a);
    -webkit-box-shadow: 0 0 2px 1px var(--navigation, #20232a);
            box-shadow: 0 0 2px 1px var(--navigation, #20232a);
  }
}

@-webkit-keyframes example-static-animation {
  to {
    cursor: copy;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}

@keyframes example-static-animation {
  to {
    cursor: copy;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@-webkit-keyframes transformOrigin {
  from,
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes transformOrigin {
  from,
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes move {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes move {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes move2 {
  from {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  to {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes move2 {
  from {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  to {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes color {
  50% {
    background: coral;
    -webkit-box-shadow: 0 0 2px 1px coral;
            box-shadow: 0 0 2px 1px coral;
  }
}

@keyframes color {
  50% {
    background: coral;
    -webkit-box-shadow: 0 0 2px 1px coral;
            box-shadow: 0 0 2px 1px coral;
  }
}

@-webkit-keyframes color2 {
  from {
    background: #ff8052;
    -webkit-box-shadow: 0 0 2px 1px #ff8052;
            box-shadow: 0 0 2px 1px #ff8052;
  }
  25% {
    background: #52a8ff;
    -webkit-box-shadow: 0 0 2px 1px #52a8ff;
            box-shadow: 0 0 2px 1px #52a8ff;
  }
  50% {
    background: #e252ff;
    -webkit-box-shadow: 0 0 2px 1px #e252ff;
            box-shadow: 0 0 2px 1px #e252ff;
  }
  to {
    background: #52ffe2;
    -webkit-box-shadow: 0 0 2px 1px #52ffe2;
            box-shadow: 0 0 2px 1px #52ffe2;
  }
}

@keyframes color2 {
  from {
    background: #ff8052;
    -webkit-box-shadow: 0 0 2px 1px #ff8052;
            box-shadow: 0 0 2px 1px #ff8052;
  }
  25% {
    background: #52a8ff;
    -webkit-box-shadow: 0 0 2px 1px #52a8ff;
            box-shadow: 0 0 2px 1px #52a8ff;
  }
  50% {
    background: #e252ff;
    -webkit-box-shadow: 0 0 2px 1px #e252ff;
            box-shadow: 0 0 2px 1px #e252ff;
  }
  to {
    background: #52ffe2;
    -webkit-box-shadow: 0 0 2px 1px #52ffe2;
            box-shadow: 0 0 2px 1px #52ffe2;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  to {
    -webkit-transform: perspective(800px) rotateY(360deg);
            transform: perspective(800px) rotateY(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  to {
    -webkit-transform: perspective(800px) rotateY(360deg);
            transform: perspective(800px) rotateY(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: transparent;
  color: var(--selection, #009fff80);
}

*::selection {
  background-color: transparent;
  color: var(--selection, #009fff80);
}

body,
html {
  background: white;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding: 4rem;
  overflow-x: hidden;
}

.css-track {
  width: 100%;
  height: 5rem;
  background-color: var(--css-track, #e1e1e1);
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 2px 1px var(--css-track, #e1e1e1);
          box-shadow: 0 0 2px 1px var(--css-track, #e1e1e1);
  cursor: pointer;
}

.css-track div {
  width: 25%;
  height: 100%;
  background: var(--css-track-div, #009fff);
  -webkit-box-shadow: 0 0 2px 1px var(--css-track-div, #009fff);
          box-shadow: 0 0 2px 1px var(--css-track-div, #009fff);
  border-radius: 0.2rem;
  -webkit-animation: homePage 7s ease-in-out infinite both;
          animation: homePage 7s ease-in-out infinite both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  will-change: transition;
}

.css-track div:after {
  content: "div";
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--css-track-div-color, white);
}

.css-track:after {
  content: "dystans do przebycia";
  position: absolute;
  z-index: 1;
  color: var(--css-track-div, #282a2e80);
}

.css-track:nth-child(2) div {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: translate(-150%);
          transform: translate(-150%);
}

.css-track:nth-child(2):hover div {
  -webkit-animation: homePage 7s ease-in-out infinite both;
          animation: homePage 7s ease-in-out infinite both;
}

.css-track-animation {
  width: 100%;
  height: 5rem;
  background-color: var(--css-track, #e1e1e1);
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 2px 1px var(--css-track, #e1e1e1);
          box-shadow: 0 0 2px 1px var(--css-track, #e1e1e1);
  cursor: pointer;
}

.css-track-animation div {
  width: 25%;
  height: 100%;
  background: var(--css-track-div, #009fff);
  -webkit-box-shadow: 0 0 2px 1px var(--css-track-div, #009fff);
          box-shadow: 0 0 2px 1px var(--css-track-div, #009fff);
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  will-change: transform, background-color;
  -webkit-transform: translate(-150%);
          transform: translate(-150%);
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.css-track-animation div:after {
  content: "div";
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--css-track-div-color, white);
}

.css-track-animation:hover > div.paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.css-track-animation:hover > div.running {
  -webkit-animation-play-state: running, paused;
          animation-play-state: running, paused;
}

.css-track-animation:after {
  content: "dystans do przebycia";
  position: absolute;
  z-index: 1;
  color: var(--css-track-div, #282a2e80);
}

.page {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100%;
}

.page .push {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .push .main {
  width: 70%;
}

.page .push .main h1 {
  color: var(--btn-primary, #009fff);
  font-family: Cairo;
  font-size: 1.4rem;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 1px 1px black;
  padding: 1rem;
}

.page .push .aside {
  width: 30%;
}

.menu {
  position: fixed !important;
  padding: 4rem 0;
  background: var(--menu-border, #f7f7f7);
  right: 0;
  border-left: 1px solid var(--menu-border, #c5c5c5a1);
  width: 30%;
  top: 3.5rem;
  bottom: 0;
  overflow-y: auto;
}

.menu h1 {
  margin-top: 0;
  text-align: center;
  color: var(--btn-primary-hover, #008cff);
  font-family: Cairo;
  font-size: 1.4rem;
  font-weight: bold;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0.4rem;
}

.menu ul li a {
  color: black;
  font-family: Cairo;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: normal;
  padding-left: 2rem;
  border-left: 4px solid transparent;
  -webkit-transition: border-left-color 0.7s ease-in-out, color 0.7s ease;
  transition: border-left-color 0.7s ease-in-out, color 0.7s ease;
}

.menu ul li .active {
  border-left: 4px solid var(--nav-color-hover, #009fff);
  font-weight: bolder;
}

.css-lan {
  background-color: #474949;
  display: block;
  margin: 1rem;
  padding: 1rem;
}

.css {
  color: white;
}

.css-keyframes-role,
.css-selector {
  color: #cc99cc;
  font-weight: bold;
}

.css-property {
  color: #81a2be;
}

.css-number {
  color: #f99157;
}

.css-value {
  color: #b5bd68;
}

.css-comment {
  color: #969896;
  font-style: italic;
}

.important {
  background-color: #c4000083;
  padding: 0.3rem 0;
}

.toCreator {
  width: 60px;
  height: 60px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100000 !important;
  position: fixed;
  bottom: 1vh;
  right: -10vh;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: right 0.2s ease, -webkit-transform 0.5s ease;
  transition: right 0.2s ease, -webkit-transform 0.5s ease;
  transition: right 0.2s ease, transform 0.5s ease;
  transition: right 0.2s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

.activated {
  right: 1vh;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer {
  height: 60rem;
  width: 100%;
  background: #20232a;
}
