@-webkit-keyframes homePage {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes homePage {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes hoverMe-1 {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@keyframes hoverMe-1 {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@-webkit-keyframes hoverMe-2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes hoverMe-2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes example-flow-animation {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 25%;
    background: var(--css-track-div, #009fff);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 50%;
    background: var(--navigation, #20232a);
    -webkit-box-shadow: 0 0 2px 1px var(--navigation, #20232a);
            box-shadow: 0 0 2px 1px var(--navigation, #20232a);
  }
}

@keyframes example-flow-animation {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 25%;
    background: var(--css-track-div, #009fff);
  }
  50% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 50%;
    background: var(--navigation, #20232a);
    -webkit-box-shadow: 0 0 2px 1px var(--navigation, #20232a);
            box-shadow: 0 0 2px 1px var(--navigation, #20232a);
  }
}

@-webkit-keyframes example-static-animation {
  to {
    cursor: copy;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
}

@keyframes example-static-animation {
  to {
    cursor: copy;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@-webkit-keyframes transformOrigin {
  from,
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes transformOrigin {
  from,
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes move {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes move {
  from,
  to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes move2 {
  from {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  to {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes move2 {
  from {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  to {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes color {
  50% {
    background: coral;
    -webkit-box-shadow: 0 0 2px 1px coral;
            box-shadow: 0 0 2px 1px coral;
  }
}

@keyframes color {
  50% {
    background: coral;
    -webkit-box-shadow: 0 0 2px 1px coral;
            box-shadow: 0 0 2px 1px coral;
  }
}

@-webkit-keyframes color2 {
  from {
    background: #ff8052;
    -webkit-box-shadow: 0 0 2px 1px #ff8052;
            box-shadow: 0 0 2px 1px #ff8052;
  }
  25% {
    background: #52a8ff;
    -webkit-box-shadow: 0 0 2px 1px #52a8ff;
            box-shadow: 0 0 2px 1px #52a8ff;
  }
  50% {
    background: #e252ff;
    -webkit-box-shadow: 0 0 2px 1px #e252ff;
            box-shadow: 0 0 2px 1px #e252ff;
  }
  to {
    background: #52ff7d;
    -webkit-box-shadow: 0 0 2px 1px #52ff7d;
            box-shadow: 0 0 2px 1px #52ff7d;
  }
}

@keyframes color2 {
  from {
    background: #ff8052;
    -webkit-box-shadow: 0 0 2px 1px #ff8052;
            box-shadow: 0 0 2px 1px #ff8052;
  }
  25% {
    background: #52a8ff;
    -webkit-box-shadow: 0 0 2px 1px #52a8ff;
            box-shadow: 0 0 2px 1px #52a8ff;
  }
  50% {
    background: #e252ff;
    -webkit-box-shadow: 0 0 2px 1px #e252ff;
            box-shadow: 0 0 2px 1px #e252ff;
  }
  to {
    background: #52ff7d;
    -webkit-box-shadow: 0 0 2px 1px #52ff7d;
            box-shadow: 0 0 2px 1px #52ff7d;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  to {
    -webkit-transform: perspective(800px) rotateY(360deg);
            transform: perspective(800px) rotateY(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: perspective(800px) rotateY(0);
            transform: perspective(800px) rotateY(0);
  }
  to {
    -webkit-transform: perspective(800px) rotateY(360deg);
            transform: perspective(800px) rotateY(360deg);
  }
}

@-webkit-keyframes program {
  to {
    -webkit-transform: var(--transform, none);
            transform: var(--transform, none);
  }
}

@keyframes program {
  to {
    -webkit-transform: var(--transform, none);
            transform: var(--transform, none);
  }
}

@-webkit-keyframes page404_1 {
  from,
  to {
    background-position: 0 0;
  }
  50% {
    background-position: 50px 0px;
  }
}

@keyframes page404_1 {
  from,
  to {
    background-position: 0 0;
  }
  50% {
    background-position: 50px 0px;
  }
}

@-webkit-keyframes page404_2 {
  from,
  to {
    background-position: 0 0;
  }
  50% {
    background-position: -40px -55px;
  }
}

@keyframes page404_2 {
  from,
  to {
    background-position: 0 0;
  }
  50% {
    background-position: -40px -55px;
  }
}

@-webkit-keyframes page404_3 {
  from,
  to {
    background-position: 0 0;
  }
  50% {
    background-position: 50px -70px;
  }
}

@keyframes page404_3 {
  from,
  to {
    background-position: 0 0;
  }
  50% {
    background-position: 50px -70px;
  }
}

@-webkit-keyframes page404_4 {
  from,
  to {
    background-position: 0 0;
  }
  50% {
    background-position: -50px -50px;
  }
}

@keyframes page404_4 {
  from,
  to {
    background-position: 0 0;
  }
  50% {
    background-position: -50px -50px;
  }
}

@-webkit-keyframes filter {
  from {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px red);
            filter: blur(2px) drop-shadow(0 0 5px red);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px transparent);
            filter: blur(2px) drop-shadow(0 0 5px transparent);
  }
  10% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px orange);
            filter: blur(2px) drop-shadow(0 0 5px orange);
  }
  20% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px yellow);
            filter: blur(2px) drop-shadow(0 0 5px yellow);
  }
  30% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px lightgreen);
            filter: blur(2px) drop-shadow(0 0 5px lightgreen);
  }
  40% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px green);
            filter: blur(2px) drop-shadow(0 0 5px green);
  }
  50% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px lightblue);
            filter: blur(2px) drop-shadow(0 0 5px lightblue);
  }
  60% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px blue);
            filter: blur(2px) drop-shadow(0 0 5px blue);
  }
  70% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px fuchsia);
            filter: blur(2px) drop-shadow(0 0 5px fuchsia);
  }
  80% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px purple);
            filter: blur(2px) drop-shadow(0 0 5px purple);
  }
  90% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px pink);
            filter: blur(2px) drop-shadow(0 0 5px pink);
  }
  to {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px red);
            filter: blur(2px) drop-shadow(0 0 5px red);
  }
}

@keyframes filter {
  from {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px red);
            filter: blur(2px) drop-shadow(0 0 5px red);
  }
  5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px transparent);
            filter: blur(2px) drop-shadow(0 0 5px transparent);
  }
  10% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px orange);
            filter: blur(2px) drop-shadow(0 0 5px orange);
  }
  20% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px yellow);
            filter: blur(2px) drop-shadow(0 0 5px yellow);
  }
  30% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px lightgreen);
            filter: blur(2px) drop-shadow(0 0 5px lightgreen);
  }
  40% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px green);
            filter: blur(2px) drop-shadow(0 0 5px green);
  }
  50% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px lightblue);
            filter: blur(2px) drop-shadow(0 0 5px lightblue);
  }
  60% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px blue);
            filter: blur(2px) drop-shadow(0 0 5px blue);
  }
  70% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px fuchsia);
            filter: blur(2px) drop-shadow(0 0 5px fuchsia);
  }
  80% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px purple);
            filter: blur(2px) drop-shadow(0 0 5px purple);
  }
  90% {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px pink);
            filter: blur(2px) drop-shadow(0 0 5px pink);
  }
  to {
    -webkit-filter: blur(2px) drop-shadow(0 0 5px red);
            filter: blur(2px) drop-shadow(0 0 5px red);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: transparent;
  color: var(--selection, #009fff80);
}

*::selection {
  background-color: transparent;
  color: var(--selection, #009fff80);
}

body,
html {
  background: white;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding: 4rem;
  overflow-x: hidden;
}

.css-track {
  width: 100%;
  height: 5rem;
  background-color: var(--css-track, #e1e1e1);
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 2px 1px var(--css-track, #e1e1e1);
          box-shadow: 0 0 2px 1px var(--css-track, #e1e1e1);
  cursor: pointer;
  margin-bottom: 2rem;
}

.css-track div {
  width: 25%;
  height: 100%;
  background: var(--css-track-div, #009fff);
  -webkit-box-shadow: 0 0 2px 1px var(--css-track-div, #009fff);
          box-shadow: 0 0 2px 1px var(--css-track-div, #009fff);
  border-radius: 0.2rem;
  -webkit-animation: homePage 7s ease-in-out infinite both;
          animation: homePage 7s ease-in-out infinite both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  will-change: transition;
}

.css-track div:after {
  content: "div";
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--css-track-div-color, white);
}

.css-track:after {
  content: "dystans do przebycia";
  position: absolute;
  z-index: 1;
  color: var(--css-track-div, #282a2e80);
}

.css-track:nth-child(2) div {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: translate(-150%);
          transform: translate(-150%);
}

.css-track:nth-child(2):hover div {
  -webkit-animation: homePage 7s ease-in-out infinite both;
          animation: homePage 7s ease-in-out infinite both;
}

.css-track-animation,
.css-track-color {
  width: 100%;
  height: 5rem;
  background-color: var(--css-track, #e1e1e1);
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
  -webkit-box-shadow: 0 0 2px 1px var(--css-track, #e1e1e1);
          box-shadow: 0 0 2px 1px var(--css-track, #e1e1e1);
  cursor: pointer;
}

.css-track-animation div,
.css-track-color div {
  width: 25%;
  height: 100%;
  background: var(--css-track-div, #009fff);
  -webkit-box-shadow: 0 0 2px 1px var(--css-track-div, #009fff);
          box-shadow: 0 0 2px 1px var(--css-track-div, #009fff);
  border-radius: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  will-change: transform, background-color;
  -webkit-transform: translate(-150%);
          transform: translate(-150%);
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.css-track-animation div:after,
.css-track-color div:after {
  content: "div";
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--css-track-div-color, white);
}

.css-track-animation:hover > div.paused,
.css-track-color:hover > div.paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.css-track-animation:hover > div.running,
.css-track-color:hover > div.running {
  -webkit-animation-play-state: running, paused;
          animation-play-state: running, paused;
}

.css-track-animation:after,
.css-track-color:after {
  content: "dystans do przebycia";
  position: absolute;
  z-index: 1;
  color: var(--css-track-div, #282a2e80);
}

.css-track-color {
  width: 25%;
  margin: auto;
}

.css-track-color div {
  width: 100%;
  -webkit-animation-name: color2;
          animation-name: color2;
  -webkit-transform: none;
          transform: none;
}

.css-track-color:after {
  content: none;
}

.page {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100%;
}

.page .push {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .push .main {
  width: 70%;
}

.page .push .main h1 {
  color: white;
  font-size: 1.8rem;
  font-family: "Cairo";
  letter-spacing: 1px;
  padding: 1.5rem;
  margin: -2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  background: var(--nav-color-hover, #009fff);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

.page .push .aside {
  width: 30%;
}

.menu {
  position: fixed !important;
  padding: 4rem 0;
  background: var(--menu-border, #f7f7f7);
  right: 0;
  border-left: 1px solid var(--menu-border, #c5c5c5a1);
  width: 30%;
  top: 3.5rem;
  bottom: 0;
  overflow-y: auto;
}

.menu h1 {
  margin-top: 0;
  text-align: center;
  color: var(--btn-primary-hover, #008cff);
  font-family: 'Cairo';
  font-size: 1.4rem;
  font-weight: bold;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0.4rem;
}

.menu ul li a {
  color: black;
  font-family: 'Cairo';
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: normal;
  padding-left: 2rem;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: var(--randomColor, transparent);
  color: var(--randomColor);
  -webkit-transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: border-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.css-lan {
  background-color: #474949;
  border-radius: 1rem;
  display: block;
  margin: 1rem;
  margin-top: 2rem;
  padding: 1rem;
  position: relative;
}

.css {
  color: white;
}

.css-keyframes-role,
.css-selector {
  color: #cc99cc;
  font-weight: bold;
}

.css-property {
  color: #81a2be;
}

.css-number {
  color: #f99157;
}

.css-value {
  color: #b5bd68;
}

.css-comment {
  color: #969896;
  font-style: italic;
}

.important {
  background-color: #c4000083;
  padding: 0.3rem 0;
}

.copy {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copy-btn {
  cursor: pointer;
  background-color: var(--btn-primary-hover, #008cff);
  border-radius: 50%;
}

.copy-btn i {
  color: white;
  padding: 1rem 1.15rem;
  margin: 0 !important;
}

.copy-message {
  margin-right: 1.5rem;
  padding: 1rem;
  background-color: var(--btn-primary-hover, #008cff);
  border-radius: 0.8rem;
  font-family: monospace, "Cairo";
  position: relative;
  -webkit-transition: opacity 0.1s 0.2s ease;
  transition: opacity 0.1s 0.2s ease;
  opacity: 0;
}

.copy-message span {
  color: white;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  display: block;
}

.copy-message:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 7px solid transparent;
  border-left: 10px solid var(--btn-primary-hover, #008cff);
  border-bottom: 7px solid transparent;
}

.copy-message.bold {
  font-weight: bold;
}

.copy-message.bolder {
  background: crimson;
}

.copy-message.bolder:after {
  border-left-color: crimson;
}

.copy-message.bolder span {
  text-transform: uppercase;
}

.toCreator {
  width: 60px;
  height: 60px;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100000 !important;
  position: fixed;
  bottom: 1vh;
  right: -10vh;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: right 0.2s ease, -webkit-transform 0.5s ease;
  transition: right 0.2s ease, -webkit-transform 0.5s ease;
  transition: right 0.2s ease, transform 0.5s ease;
  transition: right 0.2s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

.activated {
  right: 1vh;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.scrollUp {
  width: 3rem;
  height: 3rem;
  background: #0575e6;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
  overflow: hidden;
}

.scrollUp div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.scrollUp i {
  max-height: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  color: var(--menu-border, #f7f7f7);
  padding: 1rem;
}

.creator {
  height: calc(100vh - 56px);
  overflow: hidden;
}

.creator .push {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30vw;
      grid-template-columns: 1fr 30vw;
  -ms-grid-rows: 5rem 1fr;
      grid-template-rows: 5rem 1fr;
}

.creator .push .title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.creator .push .animation-field {
  margin: 0.3rem;
  background: #333333;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator .push .animation-field .animation-item {
  width: 8rem;
  height: 8rem;
  background: var(--btn-primary, #009fff);
  border-radius: 0.25rem;
  outline: 7px solid var(--btn-primary-hover, #008cff);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-animation: program 1s infinite ease-in-out;
          animation: program 1s infinite ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.creator .push .control-panel {
  border-left: 1px solid var(--menu-border, #c5c5c5a1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--menu-border, #f7f7f7);
}

.creator .push .control-panel .dropdown-menu.show {
  z-index: 1000;
}

.creator .push .control-panel .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator .push .control-panel .options .mysterious-btn {
  position: static;
  margin: 1rem;
}

.creator .push .control-panel .options .mysterious-btn i {
  padding: 0.75rem;
}

.creator .push .control-panel .options .mysterious-text {
  position: static;
}

.creator .push .control-panel .program {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.creator .push .control-panel .code {
  background: #474949;
  color: white;
  padding: 1rem;
  font-family: "Cairo";
  position: relative;
  cursor: pointer;
}

.creator .push .control-panel .code h1 {
  font-size: 1.5rem;
  margin: 0;
  font-family: "Cairo";
}

.creator .push .control-panel .code div {
  text-indent: 1rem;
}

.creator .push .control-panel .code span {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  color: #888;
  font-family: "Cairo";
}

.creator .bundle {
  padding: 0.3rem;
  margin: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.creator .bundle .control-btn.down {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

.creator .bundle .control-btn.down .range-value-group {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.creator .bundle .control-btn.down .range-value-group .customRange {
  margin: 1rem;
}

.creator .bundle .control-btn {
  margin-top: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator .bundle .control-btn button {
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 38px;
  height: 38px;
}

.creator .bundle .control-btn button i {
  font-size: 22px;
}

.creator .bundle .control-btn > div {
  padding: 0 0.1rem;
}

.creator .bundle .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #009fff50;
  border: 1px solid #009fff50;
  border-radius: 0.3rem;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}

.creator .bundle .unSaved {
  background: #c7353580;
  -webkit-filter: none !important;
          filter: none !important;
  border: #c73535;
}

.creator .bundle h1 {
  font-size: small;
  font-family: "Cairo";
  font-weight: bold;
}

.creator .bundle .rangeValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.creator .bundle .about-step {
  color: #474949;
  font-weight: bold;
  cursor: normal;
  margin-right: 1rem;
}

.creator .bundle .number {
  cursor: normal;
  background-color: white;
  font-weight: bold;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  width: 50px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0.2rem;
}

.arm {
  background: url("../images/arm.webP");
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  margin-left: 0.4rem;
}

.customRange {
  margin: 5px 1rem;
  background-color: transparent;
  -webkit-appearance: none;
}

.customRange:focus {
  outline: none;
}

.customRange::-webkit-slider-runnable-track {
  background: #484d4d;
  border: 0;
  border-radius: 7.5px;
  width: 100%;
  height: 15px;
  cursor: pointer;
}

.customRange:focus::-webkit-slider-runnable-track {
  background: #6b7272;
}

.customRange::-webkit-slider-thumb {
  margin-top: -5px;
  width: 30px;
  height: 25px;
  background: #009fff;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}

.modal-group {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 150px 150px 150px;
      grid-template-columns: 150px 150px 150px 150px;
  -ms-grid-rows: 150px 150px 150px 150px;
      grid-template-rows: 150px 150px 150px 150px;
  gap: 1rem;
}

.modal-group .modal-element {
  background-color: #009dffb9;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
}

.modal-group .modal-element .modal-child {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.modal-group .modal-element .modal-child .cube {
  width: 35%;
  height: 35%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #32364133;
  border-radius: 0.5rem;
}

.modal-group .modal-element .modal-child .cube .content-cube {
  width: 100%;
  height: 100%;
  background: #323641;
  border-radius: 0.5rem;
  position: absolute;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}

.modal-group .modal-element .modal-child .text {
  color: white;
  font-family: "Cairo";
}

.modal-group .modal-element .event-area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
}

.notFound {
  width: 100%;
  height: calc(100vh - 56px);
  background: linear-gradient(45deg, #101727 10%, #1f2c4d 40%, #0d131f 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.notFound > div:not(.slices) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2rem;
}

.notFound .main-text {
  margin-top: 10rem;
  color: #2157df;
  font-family: "Cairo";
  font-size: 4rem;
  -webkit-filter: drop-shadow(0 0 6px black);
          filter: drop-shadow(0 0 6px black);
}

.notFound .return {
  z-index: 99;
  text-align: center;
}

.notFound .return span {
  color: white;
  font-family: "Cairo";
}

.notFound .return div {
  color: white;
}

.notFound .return a {
  color: #2157df !important;
  text-decoration: none !important;
  margin: 0.5rem;
}

.notFound .slices div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/pagenotfound.png");
  background-attachment: fixed;
}

.notFound .slices .slice1 {
  -webkit-clip-path: polygon(46% 0, 57% 26%, 50% 50%, 0 25%, 0 0);
          clip-path: polygon(46% 0, 57% 26%, 50% 50%, 0 25%, 0 0);
  -webkit-animation: page404_1 30s 1s steps(5) infinite, filter 20s 1s linear infinite;
          animation: page404_1 30s 1s steps(5) infinite, filter 20s 1s linear infinite;
}

.notFound .slices .slice2 {
  -webkit-clip-path: polygon(59.5% 20%, 77% 67%, 51% 50%);
          clip-path: polygon(59.5% 20%, 77% 67%, 51% 50%);
  -webkit-animation: page404_2 30s 2s steps(5) infinite, filter 20s 2s linear infinite;
          animation: page404_2 30s 2s steps(5) infinite, filter 20s 2s linear infinite;
}

.notFound .slices .slice3 {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 90% 100%, 63% 28%, 70% 0);
          clip-path: polygon(100% 0, 100% 100%, 90% 100%, 63% 28%, 70% 0);
  -webkit-animation: page404_3 30s 3s steps(5) infinite, filter 20s 3s linear infinite;
          animation: page404_3 30s 3s steps(5) infinite, filter 20s 3s linear infinite;
}

.notFound .slices .slice4 {
  -webkit-clip-path: polygon(0 26%, 65% 60%, 70% 90%, 13% 100%, 0% 100%);
          clip-path: polygon(0 26%, 65% 60%, 70% 90%, 13% 100%, 0% 100%);
  -webkit-animation: page404_4 30s 4s steps(5) infinite, filter 20s 4s linear infinite;
          animation: page404_4 30s 4s steps(5) infinite, filter 20s 4s linear infinite;
}
