@font-face {
  font-family: Cairo;
  src: url("../font/Cairo-Regular.ttf");
}

@font-face {
  font-family: Cairo;
  src: url("../font/Cairo-Regular.ttf");
}

@font-face {
  font-family: Cairo;
  src: url("../font/Cairo-Regular.ttf");
}

@-webkit-keyframes homePage {
  from, to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@keyframes homePage {
  from, to {
    -webkit-transform: translate(-150%);
            transform: translate(-150%);
  }
  50% {
    -webkit-transform: translate(150%);
            transform: translate(150%);
  }
}

@-webkit-keyframes hoverMe-1 {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@keyframes hoverMe-1 {
  from {
    color: black;
  }
  to {
    color: white;
  }
}

@-webkit-keyframes hoverMe-2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes hoverMe-2 {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.hljs {
  color: #d1d9e1;
  background: #474949;
}

.hljs-comment,
.hljs-quote {
  color: #969896;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-type,
.hljs-addition {
  color: #cc99cc;
}

.hljs-number,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #f99157;
}

.hljs-string,
.hljs-doctag,
.hljs-regexp {
  color: #8abeb7;
}

.hljs-title,
.hljs-name,
.hljs-section,
.hljs-built_in {
  color: #b5bd68;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #ffcc66;
}

.hljs-section,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-link {
  color: #f99157;
}

.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #eee8d5;
}

.hljs-attr,
.hljs-attribute {
  color: #81a2be;
}

.hljs-emphasis {
  font-style: italic;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  background: #474949;
}

.flex-center div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-center div:last-of-type {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 1px solid #797979;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  background: white;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding: 4rem;
  overflow-x: hidden;
}

.css-track {
  width: 100%;
  height: 5rem;
  background-color: var(--css-track, #e1e1e1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.css-track div {
  width: 25%;
  height: 100%;
  background: var(--css-track-div, #323641);
  -webkit-animation: homePage 7s ease-in-out infinite both;
          animation: homePage 7s ease-in-out infinite both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.css-track div:after {
  content: "div";
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--css-track-div-color, white);
}

.css-track:after {
  content: "dystans do przebycia";
  position: absolute;
  z-index: 1;
  color: #737373;
}

.css-track:nth-child(2) div {
  -webkit-animation: none;
          animation: none;
  -webkit-transform: translate(-150%);
          transform: translate(-150%);
}

.css-track:nth-child(2):hover div {
  -webkit-animation: homePage 7s ease-in-out infinite both;
          animation: homePage 7s ease-in-out infinite both;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#animacja1, #animacja2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  margin: 1rem;
  padding: .5rem 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  text-align: center;
  border: 1px solid #009fff;
}

#animacja1::after, #animacja2::after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #009fff;
}

#animacja1 {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#animacja1::after {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#animacja1:hover:after {
  width: 100%;
}

#animacja1:hover {
  color: white;
}

#animacja2:hover {
  -webkit-animation: hoverMe-1 1s ease-in-out forwards;
          animation: hoverMe-1 1s ease-in-out forwards;
}

#animacja2:hover::after {
  -webkit-animation: hoverMe-2 1s ease-in-out forwards;
          animation: hoverMe-2 1s ease-in-out forwards;
}

.page {
  position: absolute;
  top: 3rem;
  left: 0;
  width: 100%;
}

.page .push {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .push .main {
  width: 70%;
}

.page .push .aside {
  width: 30%;
}

.menu {
  position: fixed;
  padding-top: 4rem;
  background: #f7f7f7;
  right: 0;
  border-left: 1px solid #c5c5c5a1;
  width: 30%;
  height: 100vh;
}

.menu h1 {
  margin-top: 0;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-family: Cairo;
  font-size: 1.4rem;
  font-weight: bold;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: .4rem;
}

.menu ul li a {
  color: black;
  text-transform: uppercase;
  font-family: Cairo;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: normal;
  padding-left: 2rem;
  border-left: 4px solid transparent;
  -webkit-transition: border-left-color .7s ease-in-out, color .7s ease;
  transition: border-left-color .7s ease-in-out, color .7s ease;
}

.menu ul li .active {
  border-left: 4px solid #009fff;
  font-weight: bolder;
}

.footer {
  height: 40rem;
  width: 100%;
  background: red;
}
