nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  z-index: 999;
  position: fixed;
  width: 100%;
  background: var(--navigation, #20232a) !important;
}

.container {
  margin: 0;
}

.container .dropdown-menu.show {
  padding: .8rem 1rem;
}

.container .nav-item.show.dropdown #collasible-nav-dropdown {
  color: var(--nav-color-hover, #009fff) !important;
}

.container i {
  margin-right: .5rem;
}

.container a {
  display: block;
  font-family: Cairo;
  text-decoration: none;
}

.container a.logo {
  color: var(--nav-color, white);
  margin-right: 3rem;
}

.container a:not(:is(#collasible-nav-dropdown, .logo, .nav-link)) {
  color: black;
  text-transform: uppercase;
}

.container a:not(:is(#collasible-nav-dropdown, .logo, .nav-link)):last-of-type {
  border-top: 1px solid var(--menu-border, #c5c5c5a1);
  margin: .4rem 0;
}

.container a:not(:is(#collasible-nav-dropdown, .logo, .nav-link)):hover {
  color: var(--nav-color-hover, #009fff);
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 100% !important;
}
