nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  z-index: 999;
  position: fixed;
  width: 100%;
  background: var(--navigation, #20232a) !important;
}

.dropdown-menu {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown-menu a {
  padding-right: 1rem;
  padding-left: 1rem;
}

.subtitle span {
  padding-left: 1rem;
  cursor: default;
  text-transform: uppercase;
}

.subtitle a {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
  text-transform: lowercase;
}

.container {
  margin: 0;
}

.container .dropdown-menu.show > a:last-of-type {
  border-top: 1px solid var(--menu-border, #c5c5c5a1);
  margin-top: 0.4rem;
}

.container .nav-item.show.dropdown #collasible-nav-dropdown {
  color: var(--nav-color-hover, #009fff) !important;
}

.container i {
  margin: 0 0.5rem;
}

.container [aria-current="page"] {
  color: var(--nav-color-hover, #009fff) !important;
}

.container a {
  display: block;
  font-family: "Cairo";
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.container a[href="/animation"] i {
  margin-right: 4px;
}

.container a.logo {
  color: var(--nav-color, white);
  margin-right: 3rem;
}

.container a.logo:hover {
  color: var(--btn-primary-hover, #008cff);
}

.container a:not(:is(#collasible-nav-dropdown, .logo, .nav-link)) {
  color: var(--navigation, #20232a);
  text-transform: uppercase;
}

.container a:not(:is(#collasible-nav-dropdown, .logo, .nav-link)):hover {
  color: var(--nav-color-hover, #009fff);
  background: var(--nav-color-bg-hover, #f5f5f5);
}

.container {
  max-width: 100% !important;
}

.loginpanel {
  gap: 1rem;
}

.loginpanel a:hover {
  background: transparent !important;
}

.btn-primary {
  background: var(--btn-primary, #009fff);
}

.btn-primary:hover {
  background: var(--btn-primary-hover, #008cff);
}

.btn-primary:active {
  background: #0088ff;
}

.btn-primary:focus {
  background: #0088ff;
}

.btn-success:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #146c43a1;
          box-shadow: 0 0 0 0.25rem #146c43a1;
}

.btn-success:focus:active {
  -webkit-box-shadow: 0 0 0 0.25rem #146c43a1;
          box-shadow: 0 0 0 0.25rem #146c43a1;
}

.btn-success:focus:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #146c43a1;
          box-shadow: 0 0 0 0.25rem #146c43a1;
}

.galery a {
  text-transform: capitalize !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: rgba(255, 255, 255, 0.55) !important;
  padding: 0 1rem;
  cursor: pointer;
}

.galery a:hover {
  background: initial !important;
  color: var(--nav-color-hover, #009fff) !important;
}

.black {
  width: 1rem;
  height: 1rem;
  background: var(--navigation, #20232a);
  display: inline-block;
  margin-right: 0.3rem;
  border-radius: 0.2rem;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.version {
  color: rgba(255, 255, 255, 0.55);
  padding-left: 1rem;
}

.version * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account a {
  color: rgba(255, 255, 255, 0.55) !important;
}

.account a:hover {
  color: var(--btn-primary-hover, #008cff) !important;
}

@media screen and (max-width: 1151px) {
  .container :is(a, button, .version) {
    font-size: small;
  }
  .logo {
    margin-right: 1rem !important;
  }
  .loginpanel {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .galery {
    margin: 0.3rem 0;
  }
}

@media screen and (max-width: 991px) {
  .dropdown-menu.show {
    background: transparent;
    border: none;
  }
  .dropdown-menu.show .subtitle :is(span, i) {
    color: white !important;
  }
  .dropdown-menu.show .subtitle :is(span, i):hover {
    color: var(--btn-primary-hover, #008cff);
  }
  .dropdown-menu.show a {
    color: white !important;
  }
  .dropdown-menu.show a.active {
    background: transparent !important;
    color: var(--btn-primary, #009fff) !important;
  }
  .dropdown-menu.show .subtitle a {
    color: #fff7 !important;
  }
  .dropdown-menu.show .subtitle a:hover {
    color: var(--btn-primary-hover, #008cff);
  }
  .dropdown-menu.show .subtitle a.active {
    background: transparent !important;
    color: var(--btn-primary, #009fff) !important;
  }
  .dropdown-menu.show a:last-of-type {
    border-top: none !important;
    margin-top: 0 !important;
  }
  .galery {
    display: block;
  }
  .galery a {
    padding: 0;
  }
}
