.section {
  background: white;
  padding: 1rem;
  margin: 1rem;
  font-family: sans-serif;
  letter-spacing: -1px;
  color: var(--section-main, black);
}

.section:first-of-type {
  border-bottom: 1px solid var(--menu-border, #c5c5c5a1);
}

.section:last-of-type {
  border-top: 1px solid var(--menu-border, #c5c5c5a1);
}

.section .subheader {
  font-size: larger;
}

.section ul li {
  padding: 0.1rem;
}

.section h1,
.section h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-family: Cairo;
}

.section h2 {
  margin: 1rem 0;
  font-size: 1.6rem;
}

.section i {
  margin-right: 1rem;
  font-size: xx-large;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
}

.flex-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.3rem;
}

.flex-group button {
  padding: 1rem 2rem;
  font-weight: bold;
  position: relative;
}

.flex-group .initial::after {
  content: "initial";
  position: absolute;
  bottom: 1%;
  right: 5%;
  font-size: smaller;
  color: #323641;
}

.pictured h2 {
  background-color: var(--menu-border, #f7f7f7);
  padding: 1rem;
  border: 1px solid var(--menu-border, #c5c5c5a1);
  font-size: 1.1rem;
  font-family: monospace;
}

.parameter {
  color: var(--btn-primary, #009fff);
  font-weight: bold;
}

.examples {
  list-style-type: none;
  margin: 0;
  padding: 0 0.9rem;
}

.examples li {
  margin: 0.5rem 0;
  padding-left: 0.5rem !important;
  border-left: 2px solid var(--menu-border, #c5c5c5a1);
}

.css-example-block {
  width: 50vh;
  height: 50vh;
  margin: auto;
  background-color: white;
  position: relative;
}

.css-example-block .example-main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.css-example-block .example-main .border-example {
  width: 200px;
  height: 100px;
  border: 2px dashed black;
  position: relative;
}

.css-example-block .example-main .border-example .content-example {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: #009fff80;
  padding-left: 5px;
  text-transform: uppercase;
  font-family: monospace;
  font-weight: bold;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
}

.css-example-block::after {
  content: "";
  width: 2px;
  height: 2px;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.css-example-block .x-dimention {
  background-color: black;
  width: 95%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.css-example-block .x-dimention::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 10px solid black;
  border-right: 10px solid transparent;
  right: -5px;
  bottom: 1px;
}

.css-example-block .x-dimention::before {
  content: "";
  position: absolute;
  display: block;
  border-top: 10px solid black;
  border-right: 10px solid transparent;
  right: -5px;
  top: 1px;
}

.css-example-block .y-dimention {
  background-color: black;
  width: 2px;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.css-example-block .y-dimention::after {
  content: "";
  position: absolute;
  display: block;
  border-top: 10px solid black;
  border-right: 10px solid transparent;
  left: 1px;
  bottom: -5px;
}

.css-example-block .y-dimention::before {
  content: "";
  position: absolute;
  display: block;
  border-top: 10px solid black;
  border-left: 10px solid transparent;
  right: 1px;
  bottom: -5px;
}

.technical .box {
  border-left: 2px solid var(--menu-border, #c5c5c5a1);
  border-bottom: 2px solid var(--menu-border, #c5c5c5a1);
  margin: 0.5rem;
  border-bottom-left-radius: 1.5rem;
}

.technical .box p {
  font-weight: bold;
  color: var(--btn-primary, #009fff);
  padding-left: 0.3rem;
  border-left: 5px solid var(--navigation, #20232a);
  margin: 0;
  margin-left: .2rem;
}

.technical .box div {
  margin: .8rem 0 .8rem 1rem;
  padding: .2rem .5rem;
  border-radius: .7rem;
  display: inline-block;
  color: #998a00;
  background-color: #f9f5d2;
}

.technical .box .green {
  color: #009900;
  background-color: #d2f9d2;
}

.technical .box .red {
  background-color: #ffe6e6;
  color: red;
}

.technical .box .link {
  background-color: #e6eeff;
  color: #0059ff;
}

.technical .box a {
  text-decoration: none;
}

.transformOrigin {
  will-change: transform;
  -webkit-animation: transformOrigin 4s linear infinite;
          animation: transformOrigin 4s linear infinite;
}

.title {
  color: white;
  background-color: var(--btn-primary-hover, #008cff);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.6rem;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
