@font-face {
  font-family: Cairo;
  src: url("../font/Cairo-Regular.ttf");
}

.section {
  background: white;
  padding: 1rem;
  margin: 1rem;
  font-family: sans-serif;
  letter-spacing: -1px;
  color: var(--section-main, black);
}

.section .subheader {
  font-size: larger;
}

.section ul li {
  padding: .1rem;
}

.section h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-family: Cairo;
}

.section b {
  color: var(--section-aniamtion, seagreen);
}

.section i {
  font-weight: bold;
  font-style: normal;
  color: var(--section-keyframes, sienna);
}

.section u {
  text-decoration: none;
  font-weight: bold;
}
