@import "./variables.scss";
@import "./mixins.scss";

.page.auth {
    height: calc(100vh - 56px);
    .push {
        height: 100%;
        background-image: url("../images/loginBG.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .auth-title {
        font-size: 2.5rem;
        font-weight: bold;
        width: 90%;
        text-align: center;
    }
    .main {
        background-color: white;
        width: auto;
        padding: 6rem 2rem 2rem 2rem;
        box-shadow: 0 0 20px 1px black;
        box-sizing: content-box;
        position: relative;
        border-radius: 1rem;
        .auth-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .iconUsers {
            font-size: 4rem;
            background: $navigation;
            border-radius: 50%;
            padding: 1rem 1.5rem;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            position: absolute;
        }
        .form-group {
            font-size: 2rem;
            margin: 1rem;
            i {
                padding-right: 1rem;
            }
        }
    }
    .password {
        box-shadow: 0 0 0 0.25rem none;
        border: 1px solid #ced4da;
        &:focus {
            box-shadow: 0 0 0 0.25rem var(--passwordStrength, hsla(216, 98%, 52%, 0.251)) !important;
            border-color: var(--passwordColor, hsl(216, 98%, 76%)) !important;
        }
    }
    .container {
        width: clamp(25vw, 30vw, 40vw);
        height: clamp(25vw, 30vw, 40vw);
        background: white;
        border-radius: 8px;
        box-shadow: 20px 20px 40px #4d5bf940;
        position: relative;
        padding: 0;
        @include flex-center;
        .circular-progress {
            position: relative;
            height: 75%;
            width: 75%;
            border-radius: 50%;
            @include flex-center;
            &::before {
                $size: 95%;
                content: "";
                position: absolute;
                height: $size;
                width: $size;
                background: white;
                border-radius: 50%;
            }
            .value-container {
                color: #231c3d;
                font-weight: bold;
                font-size: 5vw;
                font-family: "Cairo";
                position: relative;
                user-select: none;
            }
        }
    }
}
.update {
    .push {
        position: relative;
        .alert{
            position: absolute;
            bottom: 1%;
            right: 1%;
            margin: 0;
        }
        .container {
            background: none;
            box-shadow: none;
            flex-direction: column-reverse;
            padding: 2rem;
            height: 60%;
            width: fit-content;
            background: #66a3ff;
            margin: 2rem;
            justify-content: space-between;
            &:nth-child(2) {
                background: #66a3ff;
                filter: hue-rotate(35deg);
            }
            .circular-progress {
                height: 15rem;
                width: 15rem;
            }
            .result {
                font-weight: bold;
                font-family: "Cairo";
                height: min-content;
                margin: 0;
            }
            .value-container {
                font-size: 2rem !important;
            }
            .form-control::placeholder{
                font-size: smaller;
            }
            .update-form{
                display: flex;
                flex-direction: column;
                height: 100%;
                position: relative;
            }
            button{
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}
