@import "./variables.scss";

.footer {
    background: #20232a;
    color: white;
    width: 70%;
    padding-bottom: 1rem;
    font-family: 'Cairo';
    .subtitle-footer {
        display: flex;
        flex-direction: column;
        span {
            cursor: default;
            text-transform: uppercase;
        }
        a {
            font-size: 0.65rem;
            padding: 0.1rem 1rem;
            text-transform: uppercase !important;
            color: darken($color: white, $amount: 25) !important;
            padding-left: 1rem;
            transition: color 0.1s ease-in-out;
        }
    }
    h1 {
        color: #999;
        font-size: 1.2rem;
        font-family: monospace;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: center;
    }
    .mainFooter {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        i {
            margin-right: 1rem;
        }
        a {
            text-transform: capitalize;
            color: white;
            text-decoration: none;
            &[href="/animation"] i {
                margin-right: 12px !important;
            }
            &.active {
                color: $btn-primary-hover;
            }
        }
    }
    .minNav {
        height: 10rem;
        background-color: #282c34;
        margin-bottom: 1rem;
        padding: 0 6rem;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        p {
            color: $btn-primary-hover;
        }
        .prev,
        .next {
            display: flex;
            flex-direction: column;
            a {
                text-transform: capitalize;
                text-decoration: none;
                color: white;
                font-size: 1.8rem;
                border-bottom: 1px solid #6e6e6e;
                transition: border-bottom-color 0.3s ease-in-out;
                width: max-content;
                &:hover {
                    border-bottom: 1px solid white;
                }
            }
        }
        .next {
            text-align: right;
        }
    }
}
.links {
    display: flex;
    flex-direction: column;
    width: max-content;
    a{
        transition: color .1s ease-in-out;
        &:hover{
            color: $btn-primary-hover !important;
    
        }
    }
}
.author {
    color: #999;
    font-size: 0.7rem;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
