@import "./variables.scss";

.gridGalery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: .1rem;
    padding: .3rem;
    div {
        background: $nav-color-hover;
        border-radius: 0.2rem;
    }
    a {
        width: 100%;
        color: white;
        text-decoration: none;
        height: 25vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        flex-direction: column;
        font-weight: bold;
    }
    i {
        font-size: 8vw;
    }
    span{
        font-size: 3vw;
    }
}
.prevPageGalery,
.nextPageGalery {
    position: fixed;
    bottom: 2rem;
    font-size: 4rem;
    color: $nav-color-hover;
    filter: drop-shadow(0 0 0.1rem $nav-color);
    border-radius: 50%;
}
.prevPageGalery {
    left: 40%;
}
.nextPageGalery {
    right: 40%;
}
