@import "./variables.scss";

@keyframes homePage {
    from,
    to {
        transform: translate(-150%);
    }
    50% {
        transform: translate(150%);
    }
}

@keyframes hoverMe-1 {
    from {
        color: black;
    }
    to {
        color: white;
    }
}
@keyframes hoverMe-2 {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@keyframes example-flow-animation {
    to {
        transform: translateX(0);
        width: 25%;
        background: $css-track-div;
    }
    50% {
        transform: translateX(100%);
        width: 50%;
        background: $navigation;
        box-shadow: 0 0 2px 1px $navigation;
    }
}
@keyframes example-static-animation {
    to {
        cursor: copy;
        justify-content: space-between;
    }
}
@keyframes transformOrigin {
    from,
    to {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
}
@keyframes move {
    from,
    to {
        transform: translate(-150%);
    }
    50% {
        transform: translate(150%);
    }
}
@keyframes move2 {
    from {
        transform: translate(-150%);
    }
    to {
        transform: translate(150%);
    }
}
@keyframes color {
    50% {
        background: coral;
        box-shadow: 0 0 2px 1px coral;
    }
}
@keyframes color2 {
    from {
        background: hsl(16, 100%, 66%);
        box-shadow: 0 0 2px 1px hsl(16, 100%, 66%);
    }
    25% {
        background: hsl(210, 100%, 66%);
        box-shadow: 0 0 2px 1px hsl(210, 100%, 66%);
    }
    50% {
        background: hsl(290, 100%, 66%);
        box-shadow: 0 0 2px 1px hsl(290, 100%, 66%);
    }
    to {
        background: hsl(135, 100%, 66%);
        box-shadow: 0 0 2px 1px hsl(135, 100%, 66%);
    }
}
@keyframes rotation {
    from {
        transform: perspective(800px) rotateY(0);
    }
    to {
        transform: perspective(800px) rotateY(360deg);
    }
}
@keyframes program {
    to {
        transform: var(--transform, none);
    }
}
$positions: (
    "1": 50px 0px,
    "2": -40px -55px,
    "3": 50px -70px,
    "4": -50px -50px,
);
@each $name, $position in $positions {
    @keyframes page404_#{$name} {
        from,
        to {
            background-position: 0 0;
        }
        50% {
            background-position: $position;
        }
    }
}

@keyframes filter {
    $width: 5px;
    from {
        filter: blur(2px) drop-shadow(0 0 $width red);
    }
    5%,
    15%,
    25%,
    35%,
    45%,
    55%,
    65%,
    75%,
    85%,
    95% {
        filter: blur(2px) drop-shadow(0 0 $width transparent);
    }
    10% {
        filter: blur(2px) drop-shadow(0 0 $width orange);
    }
    20% {
        filter: blur(2px) drop-shadow(0 0 $width yellow);
    }
    30% {
        filter: blur(2px) drop-shadow(0 0 $width lightgreen);
    }
    40% {
        filter: blur(2px) drop-shadow(0 0 $width green);
    }
    50% {
        filter: blur(2px) drop-shadow(0 0 $width lightblue);
    }
    60% {
        filter: blur(2px) drop-shadow(0 0 $width blue);
    }
    70% {
        filter: blur(2px) drop-shadow(0 0 $width fuchsia);
    }
    80% {
        filter: blur(2px) drop-shadow(0 0 $width purple);
    }
    90% {
        filter: blur(2px) drop-shadow(0 0 $width pink);
    }
    to {
        filter: blur(2px) drop-shadow(0 0 $width red);
    }
}

@keyframes fullRotation {
    70% {
        transform: translateX(10px) rotateX(-45deg) rotateY(-30deg);
    }
}

@keyframes test0 {
    12.5%,
    87.5% {
        transform: translate3d(0, -100px, 0);
    }
    25%,
    75% {
        transform: translate3d(0, -100px, 0) translateX(-50px);
    }
    37.5% {
        transform: translate3d(100px, -100px, 0) translate(50px);
    }
    50% {
        transform: translate3d(100px, -100px, 100px) translate(50px);
    }
    62.5% {
        transform: translate3d(0, -100px, 100px) translate(-50px);
    }
}

@keyframes test2 {
    12.5%,
    87.5% {
        transform: translate3d(100px, -100px, 0);
    }
    25%,
    75% {
        transform: translate3d(100px, -100px, 0) translateX(50px);
    }
    37.5% {
        transform: translate3d(100px, -100px, 100px) translateX(50px);
    }
    50% {
        transform: translate3d(0, -100px, 100px) translateX(-50px);
    }
    62.5% {
        transform: translate3d(0, -100px, 0) translateX(-50px);
    }
}

@keyframes test18 {
    12.5%,
    87.5% {
        transform: translate3d(0px, -100px, 100px);
    }
    25%,
    75% {
        transform: translate3d(0, -100px, 100px) translateX(-50px);
    }
    37.5% {
        transform: translate3d(0, -100px, 0) translateX(-50px);
    }
    50% {
        transform: translate3d(100px, -100px, 0) translateX(50px);
    }
    62.5% {
        transform: translate3d(100px, -100px, 100px) translateX(50px);
    }
}

@keyframes test20 {
    12.5%,
    87.5% {
        transform: translate3d(100px, -100px, 100px);
    }
    25%,
    75% {
        transform: translate3d(100px, -100px, 100px) translateX(50px);
    }
    37.5% {
        transform: translate3d(0px, -100px, 100px) translateX(-50px);
    }
    50% {
        transform: translate3d(0px, -100px, 0) translateX(-50px);
    }
    62.5% {
        transform: translate3d(100px, -100px, 0) translateX(50px);
    }
}

@keyframes pulse {
    from, to{
        background: $nav-color-hover;
        border: 1px solid $nav-color-hover;
    }
    12.5% {
        background: #a6d9a6;
        border: 1px solid #84b484;
    }
}
@keyframes modified {
    from{
        background-color: #84b484;
        box-shadow: 0 0 2px 1px #84b484;
    }
    25%, 75%{
        opacity: 0;
    }
    50%{
        transform: translate(150%);
        opacity: 1;
    }
    to{
        background-color: #323641;
        box-shadow: 0 0 2px 1px #323641;
    }
}