@import "./variables.scss";

@keyframes homePage {
    from,
    to {
        transform: translate(-150%);
    }
    50% {
        transform: translate(150%);
    }
}

@keyframes hoverMe-1 {
    from {
        color: black;
    }
    to {
        color: white;
    }
}
@keyframes hoverMe-2 {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
@keyframes example-flow-animation {
    to {
        transform: translateX(0);
        width: 25%;
        background: $css-track-div;
    }
    50% {
        transform: translateX(100%);
        width: 50%;
        background: $navigation;
        box-shadow: 0 0 2px 1px $navigation;
    }
}
@keyframes example-static-animation {
    to {
        cursor: copy;
        justify-content: space-between;
    }
}
@keyframes transformOrigin {
    from,
    to {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
}
@keyframes move {
    from,
    to {
        transform: translate(-150%);
    }
    50% {
        transform: translate(150%);
    }
}
@keyframes move2 {
    from {
        transform: translate(-150%);
    }
    to {
        transform: translate(150%);
    }
}
@keyframes color {
    50% {
        background: coral;
        box-shadow: 0 0 2px 1px coral;
    }
}
@keyframes color2 {
    from {
        background: hsl(16, 100%, 66%);
        box-shadow: 0 0 2px 1px hsl(16, 100%, 66%);
    }
    25% {
        background: hsl(210, 100%, 66%);
        box-shadow: 0 0 2px 1px hsl(210, 100%, 66%);
    }
    50% {
        background: hsl(290, 100%, 66%);
        box-shadow: 0 0 2px 1px hsl(290, 100%, 66%);
    }
    to {
        background: hsl(135, 100%, 66%);
        box-shadow: 0 0 2px 1px hsl(135, 100%, 66%);
    }
}
@keyframes rotation {
    from {
        transform: perspective(800px) rotateY(0);
    }
    to {
        transform: perspective(800px) rotateY(360deg);
    }
}
@keyframes program{
    to{
        transform: var(--transform, none)
    }
}