@import './variables.scss';

@keyframes homePage {
    from, to{
        transform: translate(-150%);
    }
    50%{
        transform: translate(150%);
    }
}

@keyframes hoverMe-1{
    from{
        color: black;
    }
    to{
        color: white;
    }
}
@keyframes hoverMe-2 {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}