@import './variables.scss';
@import './mixins.scss';
@import './keyframes.scss';

*{
    box-sizing: border-box;
}
body, html{
    background:#e1e1e1;
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding: 4rem;
    overflow-x: hidden;
}
// css-track goes here
.css-track{
    width:100%;
    height:5rem;
    background-color: $css-track;
    @include flex-center;
    padding:.5rem;
    div{
        width:25%;
        height:100%;
        background: $css-track-div;
        animation: homePage 7s ease-in-out infinite both;
        @include flex-center;
        z-index: 2;
        &:after{
            content: 'div';
            font-size: 2.1rem;
            text-transform: uppercase;
            font-weight: bold;
            color:$css-track-div-color;
        }
    }
    &:after{
        content: 'dystans do przebycia';
        position: absolute;
        z-index: 1;
        color: lighten(black, 45);
    }
    &:nth-child(2){
        div{
            animation: none;
            transform: translate(-150%);
        }
        &:hover{
            div{
                animation: homePage 7s ease-in-out infinite both;
            }
        }
    }
}
// page goes here
.page{
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    .push{
        display: flex;
        flex-direction: row-reverse;
        .main{
            width:70%;
        }
        .aside{
            width: 30%;
        }
    }
}
// menu goes here
.menuBlock{
    .menu{
        transition:transform .4s ease-in-out;
        background-color: white;
        z-index: 3;
        margin-top: 1rem;
        height:100vh;
        top: 0;
        left: 0;
        position: relative;
        overflow: hidden;
        padding-top:4rem;
        .menu-header{
            @include flex-center;
            .mark{
                position: absolute;
                right:1rem;
                top: 1rem;
                @include flex-center;
                font-size: 2rem;
                cursor: pointer;
            }
        }
        ul{
            list-style-type: none;
            padding: 0;
            margin:0;
        }
        h1{
            text-align: center;
            margin-bottom:1rem;
            @include font-nav(black);
        }
        a{
            display: block;
            padding:1rem .5rem 1rem 3vw;
            border-top: 1px solid white - 100;
            position: relative;
            font-size: 1.1rem;
            color: black;
            text-decoration: none;
            font-family: monospace;
            letter-spacing: -1px;
            position: relative;
            font-weight: bold;
            transition: .1s ease-in-out;
            &:hover{
                color:$menu-color-hover;
            }
            &.active{
                color:$menu-color-hover;
            }
        }
        i{
            color: black;
        }
        &.closed{
            transform: translateX(-100%);
        }
    }
}
.anchor{
    background: white;
    border-radius:50%;
    font-size: 2rem;
    width:3rem;
    height:3rem;
    margin: 1rem;
    @include flex-center;
    cursor: pointer;
    transform: scale(0);
    transition:transform .4s ease-in-out,top 1s ease-in-out;
    position:fixed;
    bottom: 1rem;
    &.active{
        transform: scale(1);
    }
}
.footer{
    height: 35rem;
    width:100%;
    background: red;
}