@import "./variables.scss";
@import "./mixins.scss";
@import "./keyframes.scss";

* {
    box-sizing: border-box;
    &::selection {
        background-color: transparent;
        color: $selection;
    }
}
body,
html {
    background: white;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding: 4rem;
    overflow-x: hidden;
}
// css-track goes here
.css-track {
    width: 100%;
    height: 5rem;
    background-color: $css-track;
    border-radius: 0.2rem;
    @include flex-center;
    padding: 0.5rem;
    box-shadow: 0 0 2px 1px $css-track;
    cursor: pointer;
    margin-bottom: 2rem;
    div {
        width: 25%;
        height: 100%;
        background: $css-track-div;
        box-shadow: 0 0 2px 1px $css-track-div;
        border-radius: 0.2rem;
        animation: homePage 7s ease-in-out infinite both;
        @include flex-center;
        z-index: 2;
        will-change: transition;
        &:after {
            content: "div";
            font-size: 2.1rem;
            text-transform: uppercase;
            font-weight: bold;
            color: $css-track-div-color;
        }
    }
    &:after {
        content: "dystans do przebycia";
        position: absolute;
        z-index: 1;
        color: $css-track-div-text;
    }
    &:nth-child(2) {
        div {
            animation: none;
            transform: translate(-150%);
        }
        &:hover {
            div {
                animation: homePage 7s ease-in-out infinite both;
            }
        }
    }
}

.css-track-animation,
.css-track-color {
    width: 100%;
    height: 5rem;
    background-color: $css-track;
    border-radius: 0.2rem;
    @include flex-center;
    padding: 0.5rem;
    box-shadow: 0 0 2px 1px $css-track;
    cursor: pointer;
    div {
        width: 25%;
        height: 100%;
        background: $css-track-div;
        box-shadow: 0 0 2px 1px $css-track-div;
        border-radius: 0.2rem;
        @include flex-center;
        z-index: 2;
        will-change: transform, background-color;
        transform: translate(-150%);
        animation-name: move;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        &:after {
            content: "div";
            font-size: 2.1rem;
            text-transform: uppercase;
            font-weight: bold;
            color: $css-track-div-color;
        }
    }
    &:hover > div.paused {
        animation-play-state: paused;
    }
    &:hover > div.running {
        animation-play-state: running, paused;
    }
    &:after {
        content: "dystans do przebycia";
        position: absolute;
        z-index: 1;
        color: $css-track-div-text;
    }
}
.css-track-color {
    width: 25%;
    margin: auto;
    div {
        width: 100%;
        animation-name: color2;
        transform: none;
    }
    &:after {
        content: none;
    }
}

// page goes here
.page {
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: 100%;
    .push {
        display: flex;
        .main {
            width: 70%;
            h1 {
                color: white;
                font-size: 1.8rem;
                font-family: "Cairo";
                letter-spacing: 1px;
                padding: 1.5rem;
                margin: -2rem;
                margin-bottom: 1rem;
                text-transform: uppercase;
                background: $nav-color-hover;
                user-select: none;
                cursor: default;
            }
        }
        .aside {
            width: 30%;
        }
    }
}

// menu goes here
.menu {
    position: fixed !important;
    padding: 4rem 0;
    background: $menu;
    right: 0;
    border-left: 1px solid $menu-border;
    width: 30%;
    top: 3.5rem;
    bottom: 0;
    overflow-y: auto;
    h1 {
        margin-top: 0;
        text-align: center;
        @include font-nav($btn-primary-hover);
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0.4rem;
        li {
            a {
                @include font-nav(black);
                text-decoration: none;
                font-size: 14px;
                text-transform: capitalize;
                font-weight: normal;
                padding-left: 2rem;
                border-left: 4px solid transparent;
                transition: border-left-color 0.7s ease-in-out, color 0.7s ease;
            }
            .active {
                border-left: 4px solid $nav-color-hover;
                font-weight: bolder;
            }
        }
    }
}

// ---------------------------- code properties --------------------
.css-lan {
    background-color: #474949;
    border-radius: 1rem;
    display: block;
    margin: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    position: relative;
}
.css {
    color: white;
}
.css-keyframes-role,
.css-selector {
    color: #cc99cc;
    font-weight: bold;
}
.css-property {
    color: #81a2be;
}
.css-number {
    color: #f99157;
}
.css-value {
    color: #b5bd68;
}
.css-comment {
    color: #969896;
    font-style: italic;
}
.important {
    background-color: #c4000083;
    padding: 0.3rem 0;
}

.copy {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.copy-btn {
    cursor: pointer;
    background-color: $btn-primary-hover;
    border-radius: 50%;
    i {
        color: white;
        padding: 1rem 1.15rem;
        margin: 0 !important;
    }
}

.copy-message {
    margin-right: 1.5rem;
    padding: 1rem;
    background-color: $btn-primary-hover;
    border-radius: 0.8rem;
    font-family: monospace, "Cairo";
    position: relative;
    transition: opacity 0.1s 0.2s ease;
    opacity: 0;
    span {
        color: white;
        cursor: default;
        user-select: none;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
        display: block;
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        border-top: 7px solid transparent;
        border-left: 10px solid $btn-primary-hover;
        border-bottom: 7px solid transparent;
    }
    &.bold {
        font-weight: bold;
    }
    &.bolder {
        background: crimson;
        &:after {
            border-left-color: crimson;
        }
        span {
            text-transform: uppercase;
        }
    }
}
// ----------------------------------------------------------------------------------------------

.toCreator {
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100000 !important;
    position: fixed;
    bottom: 1vh;
    right: -10vh;
    transform: scale(0);
    transition: right 0.2s ease, transform 0.5s ease;
}
.activated {
    right: 1vh;
    transform: scale(1);
}
.scrollUp {
    width: 3rem;
    height: 3rem;
    background: #0575e6;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    right: 2.5rem;
    overflow: hidden;
    div {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    i {
        max-height: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        color: $menu;
        padding: 1rem;
    }
}
.creator {
    height: calc(100vh - 56px);
    overflow: hidden;
    .push {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 30vw;
        grid-template-rows: 5rem 1fr;
        .title {
            grid-area: 1 / 1 / 2 / 3;
        }
        .animation-field {
            margin: 3rem;
            background: rgb(51, 51, 51);
            border-radius: 1rem;
            border: 3px solid $btn-primary-hover;
            display: flex;
            justify-content: center;
            align-items: center;
            .animation-item {
                width: 8rem;
                height: 8rem;
                background: $btn-primary;
                border-radius: 0.25rem;
                outline: 14px solid $btn-primary-hover;
                transition: transform 1s ease-in-out;
                animation: program 1s infinite ease-in-out;
                backface-visibility: hidden;
            }
        }
        .control-panel {
            border-left: 1px solid $menu-border;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;
            background: $menu;
            .dropdown-menu.show {
                z-index: 1000;
            }
            .options {
                display: flex;
                justify-content: space-between;
                position: relative;
                align-items: center;
                .mysterious-btn {
                    position: static;
                    margin: 1rem;
                    i {
                        padding: 0.75rem;
                    }
                }
                .mysterious-text {
                    position: static;
                }
            }
            .program {
                flex-grow: 1;
            }
            .code {
                background: #0575e6;
                min-height: 15rem;
            }
        }
    }
    .bundle {
        padding: 0.3rem;
        margin: 0.3rem;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: all 0.3s ease-in-out;
        user-select: none;
        .control-btn.down{
            align-items: flex-end !important;
            .range-value-group{
                flex-grow: 1;
                .customRange{
                    margin: 1rem;
                }
            }
        }
        .control-btn {
            margin-top: 0.3rem;
            display: flex;
            align-items: center;
            button {
                border-radius: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 38px;
                height: 38px;
                i {
                    font-size: 22px;
                }
            }
            & > div {
                padding: 0 0.1rem;
            }
        }
        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #009fff50;
            border: 1px solid #009fff50;
            border-radius: 0.3rem;
            transition: 0.2s background ease-in-out;
        }
        .unSaved {
            background: #c7353580;
            filter: none !important;
            border: #c73535;
        }
        h1 {
            font-size: small;
            font-family: "Cairo";
            font-weight: bold;
        }
        .rangeValue{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
        }
        .about-step {
            color: #474949;
            font-weight: bold;
            cursor: normal;
            margin-right: 1rem;
        }
        .number {
            cursor: normal;
            background-color: white;
            font-weight: bold;
            border-radius: 0.3rem;
            font-size: 1.1rem;
            width: 50px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 .2rem;
        }
    }
}
.arm {
    background: url("../images/arm.webP");
    background-position: center;
    background-size: cover;
    width: 32px;
    height: 32px;
    margin-left: 0.4rem;
}
.customRange {
    margin: 5px 1rem;
    background-color: transparent;
    -webkit-appearance: none;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        background: #484d4d;
        border: 0;
        border-radius: 7.5px;
        width: 100%;
        height: 15px;
        cursor: pointer;
    }
    &:focus::-webkit-slider-runnable-track {
        background: #6b7272;
    }
    &::-webkit-slider-thumb {
        margin-top: -5px;
        width: 30px;
        height: 25px;
        background: rgb(0, 159, 255);
        border-radius: 50px;
        cursor: pointer;
        -webkit-appearance: none;
    }
}
.modal-group {
    $grid: 150px;
    $border: 0.5rem;
    width: min-content;
    margin: auto;
    display: grid;
    grid-template-columns: $grid $grid $grid $grid;
    grid-template-rows: $grid $grid $grid $grid;
    gap: 1rem;
    .modal-element {
        background-color: #009dffb9;
        border-radius: 1rem;
        cursor: pointer;
        position: relative;
        .modal-child {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            position: relative;
            .cube {
                width: 35%;
                height: 35%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #32364133;
                border-radius: $border;
                .content-cube {
                    width: 100%;
                    height: 100%;
                    background: #323641;
                    border-radius: $border;
                    position: absolute;
                    transition: transform 0.1s ease-in-out;
                }
            }
            .text {
                color: white;
                font-family: 'Cairo';
            }
        }
        .event-area{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: $border;
        }
    }
}
