@import './variables.scss';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin font-nav($color) {
    color: $color;
    font-family: Cairo;
    font-size: 1.4rem;
    font-weight: bold;
}
