@import "./variables.scss";
@import "./mixins.scss";

.nav {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    background-color: $navigation;
    position: fixed;
    z-index: 99;
    li {
        transition: 0.3s ease-in-out;
        flex-grow: 1;
        @include font-nav($nav-color);
        @include flex-center;
        &:hover {
            span {
                color: $nav-color-hover;
            }
        }
        span {
            cursor: pointer;
            color: $nav-color;
            transition: .2s ease-in-out;
            * {
                color: inherit;
            }
            &:last-of-type{
                height: 5rem;
                @include flex-center;
            }
        }
        a {
            text-align: center;
            height: 5rem;
            @include flex-center;
            text-decoration: none;
        }
        i {
            margin-right: 0.3rem;
        }
    }
}
.scrolled {
    background-color: $navigation-scrolled;
    :any-link{
        height: 3.7rem;
    }
    li{
        span:last-of-type{
            height: 3.7rem;
        }
    }
}
