@import "./variables.scss";
@import "./mixins.scss";

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    z-index: 999;
    position: fixed;
    width: 100%;
    background: $navigation !important;
}
.dropdown-menu {
    width: max-content !important;
    user-select: none;
}
.dropdown-menu{
    a{
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
.subtitle{
    span{
        padding-left: 1rem;
        cursor: default;
        text-transform: uppercase;
    }
    a{
        font-size: .75rem;
        padding: .1rem 1rem;
        text-transform: lowercase;
    }
}
.container {
    margin: 0;
    .dropdown-menu.show > a:last-of-type{
        border-top: 1px solid $menu-border;
        margin-top: 0.4rem;
    }
    .nav-item.show.dropdown #collasible-nav-dropdown {
        color: $nav-color-hover !important;
    }
    i {
        margin: 0 0.5rem;
    }
    [aria-current="page"] {
        color: $nav-color-hover !important;
    }
}
.container a {
    display: block;
    font-family: "Cairo";
    text-decoration: none;
    transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
    &[href="/animation"] i {
        margin-right: 4px;
    }
    &.logo {
        color: $nav-color;
        margin-right: 3rem;
        &:hover{
            color: $btn-primary-hover;
        }
    }
    &:not(:is(#collasible-nav-dropdown, .logo, .nav-link)) {
        color: $navigation;
        text-transform: uppercase;
        &:hover {
            color: $nav-color-hover;
            background: $nav-color-bg-hover;
        }
    }
}
.container {
    max-width: 100% !important;
}
.loginpanel {
    gap: 1rem;
    a:hover {
        background: transparent !important;
    }
}
.btn-primary {
    background: $btn-primary;
    &:hover {
        background: $btn-primary-hover;
    }
    &:active {
        background: #0088ff;
    }
    &:focus {
        background: #0088ff;
    }
}
.btn-success:focus {
    box-shadow: 0 0 0 0.25rem #146c43a1;
    &:active {
        box-shadow: 0 0 0 0.25rem #146c43a1;
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem #146c43a1;
    }
}
.galery {
    a {
        text-transform: capitalize !important;
        align-self: center;
        color: rgba(255, 255, 255, 0.55) !important;
        padding: 0 1rem;
        cursor: pointer;
        &:hover {
            background: initial !important;
            color: $nav-color-hover !important;
        }
    }
}
.black {
    width: 1rem;
    height: 1rem;
    background: $navigation;
    display: inline-block;
    margin-right: 0.3rem;
    border-radius: 0.2rem;
    transform: translateY(10%);
}
.version {
    color: rgba(255, 255, 255, 0.55);
    padding-left: 1rem;
    * {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.account {
    @include flex-center;
    a {
        color: rgba(255, 255, 255, 0.55) !important;
        &:hover{
            color: $btn-primary-hover !important;
        }
    }
}
@media screen and (max-width: 1151px){
    .container :is(a, button, .version){
        font-size: small;
    }
    .logo{
        margin-right: 1rem !important;
    }
    .me-auto.navbar-nav{
        align-items: center;
        justify-content: center;
    }
}