@import './variables.scss';

.section{
    background:white;
    padding:1rem;
    margin:1rem;
    font-family: sans-serif;
    letter-spacing: -1px;
    color: $section-main;
    .subheader{
        font-size: larger;
    }
    ul{
        li{
            padding:.1rem;
        }
    }    

    h1{
        text-align: center;
        margin-bottom: 3rem;
    }
    b{
        color:$section-aniamtion;
    }
    i{
        font-weight: bold;
        font-style: normal;
        color: $section-keyframes;
    }
    u{
        text-decoration: none;
        font-weight: bold;
    }
}