@import './variables.scss';

.section{
    &:first-of-type{
        border-bottom: 1px solid $menu-border;
    }
    &:last-of-type{
        border-top: 1px solid $menu-border;
    }
    background:white;
    padding:1rem;
    margin:1rem;
    font-family: sans-serif;
    letter-spacing: -1px;
    color: $section-main;
    .subheader{
        font-size: larger;
    }
    ul{
        li{
            padding:.1rem;
        }
    }    

    h1, h2{
        text-align: center;
        margin-bottom: 3rem;
        font-family: Cairo;
    }
    h2{
        margin: 1rem 0;
        font-size:1.6rem;
    }
    b{
        color:$section-aniamtion;
    }
    i{
        font-weight: bold;
        font-style: normal;
        color: $section-keyframes;
    }
    u{
        text-decoration: none;
        font-weight: bold;
    }
}