// navigation variables
$navigation:var(--navigation, white);
$nav-color:var(--nav-color, black);

// section variables

$section-aniamtion:var(--section-aniamtion,seagreen);
$section-keyframes:var(--section-keyframes, sienna);