// custom font
@font-face {
    font-family: Cairo;
    src: url('../font/Cairo-Regular.ttf');
}

// main variables
$css-track:var(--css-track,#e1e1e1);
$css-track-div:var(--css-track-div,#323641);
$css-track-div-color:var(--css-track-div-color, white);

// navigation variables
$navigation:var(--navigation, linear-gradient(to right, #009fff, #ec2f4b));
$nav-color:var(--nav-color, black);
$nav-color-hover:var(--nav-color-hover, white);
$navigation-scrolled:var(--navigation-scrolled, white);
$nav-color-scrolled:var(--nav-color-scrolled, black);
$menu-color-hover:var(--menu-color-hover, blue);

// section variables

$section-aniamtion:var(--section-aniamtion,seagreen);
$section-keyframes:var(--section-keyframes, sienna);
$section-main:var(--section-main, black);